.promo {
    position: relative;
    background: #EFF4F9;
    z-index: 2;
    &__image {
        position: absolute;
        top: -46px;
        right: 0;
    }
    &__image-medium {
        display: none;
    }
    &__image-mobile {
        display: none;
    }
    &__content {
        padding-top: 132px;
        padding-bottom: 119px;
    }
    &__title {
        font-weight: 900;
        font-size: 55px;
        line-height: 67px;
        text-transform: uppercase;
        color: #303030;
        width: 687px;
        margin-bottom: 42px;
        &--color {
            color: #298FEB;
        }
    }
    &__list {
        margin-bottom: 34px;
    }
    &__list-item {
        position: relative;
        padding-left: 46px;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        color: #303030;
        margin-bottom: 28px;
        &::before {
            content: '';
            position: absolute;
            width: 31px;
            height: 24px;
            top: 0;
            left: 0;
            background: url('../img/promo/icon-check.svg') no-repeat;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__button {
        width: 385px;
        height: 60px;
        margin-bottom: 12px;
    }
    &__text-small {
        width: 385px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #303030;
    }
}